@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) { /*TABLET*/
    
    body, html {
        background: linear-gradient(to top,#3B145A, #3B145A, #150720);
    }
    
    
    #login {
        width: 80vw;
        height: 280px;
    }

    #img {
        float: left;
        width: 30vw;
        height: 100%;
    }

    .campo {
        width: 60%;
    }

    #form {
        float: right;
        width: 62%;
    }

    #form > p {
        margin: 5px 0px;
    }

    form > input[type=submit] {
        margin: 0 auto;
        width: 70%;
        height: 40px;
    }

    .btn {
        margin: 5px auto;
        width: 70%;
        height: 40px;
    }
}

@media screen and (min-width: 992px) { /*PC*/

    body, html {
        background: linear-gradient(to top,#3B145A, #3B145A, #150720);
    }

    #login {
        width: 950px;
        height: 350px;
    }

    #img {
        float: right;
        width: 50%;
        height: 100%;
    }

    .campo {
        width: 60%;

    }

    #form {
        float: left;
        width: 50%;
    }

    #form > h1 {
        font-size: 2em;
    }

    #form > p {
        font-size: 1.2em;
        margin: 20px 0px;
    }

    form > input[type=submit] {
        margin: 0 auto;
        width: 70%;
        height: 40px;
    }

    .btn {
        margin: 5px auto;
        width: 70%;
        height: 40px;
    }
}
