@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
    box-sizing: border-box;
}

body, html {
    background:#270D3C;
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#login {
    background-color: #242424;
    position: absolute;
    width: 275px;
    height: 510px;
    border-radius: 20px;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);
    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
}

#img {
    justify-content: center;
    background: url(../img/pexels-anniroenkae-2457284.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}

#form {
    padding: 10px;
    
}

#form > h1 {
    font-family: "Oswald", sans-serif;
    color: #D5D3E0;
    text-shadow: 1px 1px 1px rgba(95, 95, 95, 0.404);
    font-size: 1.8;
    text-align: center;
    margin-bottom: 10px;
}

#form > h1:hover {
    color: #A832E8;
    cursor: default;
}

#form > p {
    text-align: center;
    color: white;
    font-size: 0.7em;
}

.campo {
    background-color: #241F23;
    margin: 5px auto;
    width: 85%;
    height: 40px;
    display: contents;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#campo1:hover, #campo2:hover {
    background-color: #C5ACDA;
}

.campo > label {
    display: none;  
}

.campo > input {
    border: 1px solid #C5ACDA;
    background-color: #2F2F2F;
    max-width: 80%;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.336);
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #A832E8;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #EAE6E9;
    color: #A832E8;

}

.btn {
    margin-top: 8px;
    padding-top: 5px;
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #DED838;
    border-radius: 8px;
    text-decoration: none;
    color: white;
}

.btn:hover {
    background-color: #EAE6E9;
    color: #A832E8;

}

